.market {
  width: 100%;
  // background-color: rgb(240, 238, 238);
  padding: 10px;
  h1 {
    color: #1296db;
  }
  &_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}
.divider {
  height: 1px;
  width: 100%;
  background-color: rgb(193, 211, 231);
  margin: 10px 0;
}