@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.divider {
  height: 1px;
  width: 100%;
  background-color: rgb(193, 211, 231);
  margin: 10px 0;
}